$primary: #64b293;
$secondary: #2d383f;
$success: #009F3A;
$warning: #FCC800;
$alert: #ff0000;
$accent: #00728E;

$light-gray: #DADCDC;
$medium-gray: #808080;
$dark-gray: #666666;
$black: #333333;
$white: #ffffff;

$body-background: #F5F7F7;
$body-color: $black;

$font-color: #f8f8fd;
