<div class="apaleo-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Generate Columns -->
    <ng-container *ngFor="let col of columns" matColumnDef="{{col.key}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.title}} </th>
      <td mat-cell *matCellDef="let element"> {{element[col.key]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
